<% include ./partials/_header %>
  <div class="col-md-4 col-md-offset-4">
    <div class="table">
      <h2> Rank Your Order </h2>
      <h3>Poll Title: <%= poll.title %></h3>
      <p>Poll Description: <%= poll.description %><p>
      <form id="takePoll" action="" method="POST" class="form-inline">
        <ul id="sortable">
          <% for (choice of choices) { %>
          <br>
          <li class="choice">
          <h3> Choice Title: </h3> <%= choice.title %>
          <br>
          <h3> Choice Description: </h3> <%= choice.description %>
   <!--        <input type="text" name="SET BY JQUERY" value="<%= choice.id %>" class="ranking"> -->
          <br>
          </li>
          <% } %>
        </ul>
        <br><br>
        <input type="submit" class="btn btn-success"></input>
      </form>
    </div>
  </div>
<% include ./partials/_footer %>
