<% include ./partials/_header %>



<div class="jumbotron">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Choices</th>
        <th>Ranking</th>

      </tr>
    </thead>
    <tbody>


      <tr>
        <!-- <td>Choice <%= item %></td> -->
     <!--    <td><%= item[choice] %></td> -->


<!--       <% for(item in results) { %> -->


      </tr>

<!-- <% } %> -->
     <% for(item in answer) { %>
     <% if (results[item].choice_id !== undefined) %>
        <td><%= results[item].title %></td>
        <td><%= answer[item] %></td>

      </tr>

<% } %>


    </tbody>
  </table>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Results</button>
      <p>
        <form id="adminLink">
          <input type="text" class="form-control" name="adminlink" value="http://localhost:8080/polls/<%= id%>/results">
        </form>
      </p>
      <button type="button" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Share </button>
      <p>
        <form id="adminLink">
          <input type="text" class="form-control" name="adminlink" value="http://localhost:8080/rank/<%= id%>">
        </form>
      </p>
    </div>
  </div>
</div>

<% include ./partials/_footer %>
