<% include ./partials/_header %>
<br>
<div class="col-md-offset-4">
  <h2> CREATE YOUR POLL </h2>
</div>

<form class="poll">
  <article data-poll-id="<%= poll %>">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="form-group">
          <h2>Give it a title.</h2>
          <input type="text" name= "poll[title]" class="form-control" name="title" id="pollTitle" placeholder="What are you trying to describe?">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="form-group">
        <h2>Describe it.</h2>
          <textarea class="form-control" name="poll[description]" rows="3" id="pollDescription" placeholder="Uh huh uh huh, makes sense."></textarea>
        </div>
      </div>
    </div>
  </article>


  <div class="choices">
    <h2 class="col-md-offset-4">Enter your choices.</h2>

    <% choices.forEach(function(choice, index) { %>
      <div class="choice">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
              <input type="text" class="form-control" name="poll[choices][<%= index %>][title]" placeholder="Choice" value="<%= choice.title %>">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
              <textarea class="form-control" rows="2" name="poll[choices][<%= index %>][description]" placeholder="Uh huh uh huh, makes sense."><%= choice.description %></textarea>
            </div>
          </div>
        </div>
      </div>
    <% }); %>
  </div>

  <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="addChoice"><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></button></div>
      </div>
    </div>

  <div class="participants col-md-offset-4">
    <h2>Enter who you want to invite.</h2>

    <% participants.forEach(function(participant, index) { %>

      <div class="participant">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <input type="email" class="form-control" name="poll[participants][<%= index %>][email]" placeholder="Enter email" value="<%= participant.email %>">
            </div>
          </div>
        </div>
      </div>

    <% }); %>
  </div>

  <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="addParticipant">
          <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-download" aria-hidden="true">
            </span>
          </button>
        </div>
      </div>
  </div>

</form>
<br>

<form id="submitForm" action="./results" method="GET" class="form-inline">
  <button type="submit" class="btn btn-info col-md-offset-4" value="Submit">  Submit New Poll
  </button>
</form>
<br>
<% include ./partials/_footer %>
