<% include ./partials/_header %>
<div class="col-md-offset-4 instructions">
  Create your custom poll below!
</div>

<form class="poll">
  <article data-poll-id="<%= poll %>">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="form-group">
          <label for="pollTitle">Title</label>
          <input type="text" name= "poll[title]" class="form-control" name="title" id="pollTitle" placeholder="What are you trying to describe?">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="form-group">
          <label for="pollDescription">Describe it.</label>
          <textarea class="form-control" name="poll[description]" rows="3" id="pollDescription" placeholder="Uh huh uh huh, makes sense."></textarea>
        </div>
      </div>
    </div>
  </article>


  <div class="choices">
    <h2 class="col-md-offset-4">Enter Choices:</h2>

    <% choices.forEach(function(choice, index) { %>
      <div class="choice">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
              <input type="text" class="form-control" name="poll[choices][<%= index %>][title]" placeholder="Choice" value="<%= choice.title %>">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
              <textarea class="form-control" rows="2" name="poll[choices][<%= index %>][description]" placeholder="Uh huh uh huh, makes sense."><%= choice.description %></textarea>
            </div>
          </div>
        </div>
      </div>
    <% }); %>
  </div>

  <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="addChoice"><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></button></div>
      </div>
    </div>

  <div class="participants">
    <h2 class="col-md-offset-4">Enter Participants:</h2>

    <% participants.forEach(function(participant, index) { %>

      <div class="participant">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
              <input type="email" class="form-control" name="poll[participants][<%= index %>][email]" placeholder="enter email" value="<%= participant.email %>">
            </div>
          </div>
        </div>
      </div>

    <% }); %>
  </div>

  <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="addParticipant"><button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></button></div>
      </div>
    </div>
  </div>

</form>

<form id="submitForm" action="./results" method="GET" class="form-inline">
<button type="submit" class="btn btn-info col-md-offset-4" value="Submit">Submit New Poll</button>
<!-- <input type="submit" value="Submit"> -->
</form>

<% include ./partials/_footer %>
